<footer class="footer" th:fragment="footer">
    <div class="footer-container">
        <div class="footer-grid">
            <!-- ABOUT -->
            <div>
                <h2 class="footer-title">About Us</h2>
                <p class="footer-text">
                    <strong>K BOOKS</strong> is a leading online bookstore providing a wide selection of books across
                    various genres.
                    Our mission is to foster a love for reading by offering quality books at competitive prices.
                </p>

                <div class="newsletter">
                    <h4 class="newsletter-title">Subscribe to our newsletter</h4>
                    <form class="newsletter-form">
                        <input type="email" placeholder="Your email address">
                        <button type="button">Subscribe</button>
                    </form>
                </div>
            </div>
            <!-- EMPTY COLUMN -->
            <div class="footer-spacer"></div>

            <!-- CUSTOMER CARE -->
            <div class="text-center">
                <h2 class="footer-title">Customer Care</h2>
                <ul class="footer-links" style="list-style: none">
                    <li><a href="#"><span></span>Help Center</a></li>
                    <li><a href="#"><span></span>How to Buy</a></li>
                    <li><a href="#"><span></span>Track Your Order</a></li>
                    <li><a href="#"><span></span>Returns & Refunds</a></li>
                    <li><a href="#"><span></span>Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h2 class="footer-title">Contact Us</h2>
                <div class="contact-item">
                    <i class="fas fa-map-marker-alt"></i>
                    <p style="margin-top: 0!important; margin-bottom: 0 !important;">51 Lac Long Quan St., Da Nang
                        city</p>
                </div>

                <div class="contact-item">
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:phamgiakhanh03012006@gmail.com">
                        phamgiakhanh03012006@gmail.com
                    </a>
                </div>

                <div class="contact-item">
                    <i class="fas fa-phone"></i>
                    <a href="tel:+84328664814">+84 328664814</a>
                </div>

                <div class="socials">
                    <a href="https://www.facebook.com/pham.gia.khanh.589369" target="_blank"><i
                            class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/khanhkdb/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/khanh-pham-gia-281616352/" target="_blank"><i
                            class="fa-brands fa-linkedin-in"></i></a>
                </div>
            </div>

        </div>
        <div class="footer-bottom">
            <p>
                © 2026 <strong>K BOOKS</strong>. All rights reserved.
            </p>
            <div class="footer-policy">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>