.add-cart {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    transition: all 0.25s ease;
    z-index: 30;
}

.sidebar-container {
    position: fixed;
    top: 0;
    width: 320px;
    max-width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(
            135deg,
            rgba(255, 255, 255, 0.95) 0%,
            rgba(250, 250, 252, 0.95) 100%
    );
    box-shadow: 2px 0 30px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: all 0.3s ease;
    z-index: 100;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transform: translateX(-320px);
}

.wishlist-btn{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: none;
    background: rgba(255,255,255,.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 30;
    cursor: pointer;
}

.submenu-link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.625rem 1rem;
    color: #6b7280;
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    transition: all 0.2s ease;
    font-weight: 600;
    border: 1px solid transparent;
}

.password-toggle {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding-right: 0.75rem;
    display: flex;
    align-items: center;
    color: rgba(140, 96, 95, 0.5);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.2s;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}