<div class="benefit d-flex" th:fragment="benefit">
    <div class="d-flex">
        <i class="fa-regular fa-truck"></i>
        <div>
            <h5>FREE SHIPPING</h5>
            <p>On all order over $99</p>
        </div>
    </div>
    <div class="d-flex">
        <i class="fa-solid fa-right-left"></i>
        <div>
            <h5>EASY RETURNS</h5>
            <p>30 days money back guarantee</p>
        </div>
    </div>
    <div class="d-flex">
        <i class="fa-solid fa-location-dot"></i>
        <div>
            <h5>LOCAL PICKUP</h5>
            <p>Shop online and pick up in store</p>
        </div>
    </div>
    <div class="d-flex">
        <i class="fa-regular fa-calendar"></i>
        <div>
            <h5>NEXT DAY DELIVERY</h5>
            <p>Available in checkout</p>
        </div>
    </div>
</div>